.settings
.vscode
configuration/settings.xml
.classpath
src/main/resources/Receipt_Transfer_Header.Xquery
src/main/resources/Receipt_Transfer_Transformation_Request.Xquery
src/main/resources/Receipt_Transfer_Transformation_Response.Xquery
.project
src/main/resources/Header.Xquery
src/main/resources/Request.Xquery
src/main/resources/Response.Xquery
target/*
.gitignore
target/Muis-Fuse-xQuery-transformation-1.0.0.jar
